/*
01. Devices: Large Devices (Desktops & Laptops)
02. Medium Devices: Landscape Tablets & Medium desktops
03. Small Devices: Portrait Tablets & Small Desktops
*/

/* *********************************************
01. Devices: Large Devices (Desktops & Laptops)
********************************************* */
@media (min-width: 1200px) and (max-width: 1299px) {
  #home-heading h1 {
    color: aqua;
  }
  /* Navigation bar */
  .site-nav-wrapper {
    padding: 0 2rem;
  }
}

/* *********************************************
02. Medium Devices: Landscape Tablets & Medium desktops
********************************************* */
@media (min-width: 992px) and (max-width: 1199px) {
  #home-heading h1 {
    color: red;
  }
  /* Navigation bar */
  .site-nav-wrapper {
    padding: 0;
  }
  /* Generic */
  .vertical-heading h2 {
    font-size: 2.9rem;
  }
  /* Services 02 */
  #services-tabs .tab-bg {
    padding: 1.9rem 3rem;
    min-height: 382px;
  }
  .service-tab h2 {
    font-size: 3.9rem;
  }
  .service-tab p {
    line-height: 2.2rem;
  }

}

/* *********************************************
03. Small Devices: Portrait Tablets & Small Desktops
********************************************* */
@media (min-width: 768px) and (max-width: 991px) {
  #home-heading h1 {
    color: greenyellow;
  }
  /* Navigation bar */
  .site-nav-wrapper {
    padding: 0;
  }
  /* Home section */
  #home-heading h1 {
    font-size: 4.1rem;
  }
  #home-text p {
    font-size: 1.3rem;
  }
  .btn-general {
    padding: 8px 35px;
    font-size: 12px;
    line-height: 18px;
  }
  /* Generic */
  .vertical-heading h2 {
    font-size: 2.9rem;
    line-height: 3.5rem;
  }
  /* Text Statement */
  #tech-statement h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
  #tech-statement h3 .fa {
    color: #F4C613;
  }
  /* Services 02 */
  .r-tabs-accordion-title {
    text-align: center;
    margin: 0 5px 10px 5px;
    background-color: #F4C613;
    padding: 20px 0;
    border-radius: 5px;
  }
  .r-tabs-accordion-title a {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: #212226;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    text-decoration: none;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
  /* Tab active state */
  .r-tabs-accordion-title.r-tabs-state-active a {
    /* color: #F4C613; */
    color: #fff;
    font-weight: 700;
    border-bottom: 3px solid #F4C613;
    padding-bottom: 5px;
    -webkit-transition: border-color 0.5s linear;
    transition: border-color 0.5s linear;
  }
  /* Pricing Table */
  .pricing-table .price h2 {
    margin: 0 0 0 6px;
    font-size: 35px;
  }
  .pricing-table .price p {
    line-height: 18px;
    font-size: 15px;
  }
  .pricing-table ul.package li {
    line-height: 30px;
  }
  /* Stats */
  .stats-item p {
    line-height: 18px;
  }
  /* Blog */
  #blog .vertical-heading {
    margin-bottom: 60px;
  } 
  /* Contact */
  #contact-left p {
    margin-top: 60px;
  } 
  #contact-right form .form-control {
    font-family: "Open Sans", sans-serif;
    padding: 0.6rem 1.5rem .8rem 1.5rem;
    font-size: 1.4rem;
    line-height: normal;
  }
}

/* *********************************************
04. Xtra Small Devices: Landscape Phones & Portrait tablets
********************************************* */
@media (max-width: 767px) {
  #home-heading h1 {
    color: mediumslateblue;
  }
  /* Home section */
  #home-heading h1 {
    font-size: 2.8rem;
  }
  #home-text p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 14px 35px;
  }
  .btn-general {
    padding: 8px 30px;
    font-size: 12px;
    line-height: 18px;
  }
  /* About Section - 01 */
    /* Large Content Box */
    .content-box-lg {
      padding: 6rem 0;
    }
    /* Vertical Heading */
    .vertical-heading {
      text-align: center;
    }
    .vertical-heading h5 {
      transform: rotate(0deg);
      display: block;
      position: static;
      margin-bottom: 15px;
    }
    .vertical-heading h2 {
      font-size: 29px;
      line-height: normal;
      margin: 0;
    }
    #about-left {
      margin-bottom: 40px;
    }
    #about-right {
      text-align: center;
    }
  /* About Section - 02 */
    /* Medium Content Box */
    .content-box-md {
      padding: 8rem 0;
    }
    .about-item {
      padding: 55px 30px;
      /* margin-bottom: 35px; */
      width: 95%;
      margin: 25px auto;
    }
    .about-item i {
      font-size: 30px;
    }
    .about-item h3 {
      font-size: 18px;
    }
  /* Team Section */
  #team-left .vertical-heading {
    min-height: 13rem;
  }
  .skill h4 {
    font-size: 14px;
    line-height: 35px;
  }
  /* Text Statement */
  #tech-statement h3 {
    font-size: 2rem;
    line-height: 3rem;
  }
  /* Services Section */
    /* Horizontal Headings */
    .horizontal-heading {
      margin-bottom: 40px;
    }
    .horizontal-heading h2 {
      font-size: 30px;
    }
    #services-01 img {
      margin: 0 0 55px 0;
    }
    .service {
      border: 1px dashed #ccc;
      padding: 20px;
      width: 95%;
      margin: 20px auto;
      border-radius: 4px;
      background-color: #fafafa;
    }
    .service, .service i {
      text-align: center;
    }
    .service h4 {
      font-size: 18px;
    }
    .service i {
      font-size: 30px;
    }

  /* Services 02 */
  .r-tabs-accordion-title {
    text-align: center;
    margin: 0 5px 10px 5px;
    background-color: #F4C613;
    padding: 20px 0;
    border-radius: 5px;
  }
  .r-tabs-accordion-title a {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
    color: #212226;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0;
    text-decoration: none;
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
  }
  /* Tab active state */
  .r-tabs-accordion-title.r-tabs-state-active a {
    /* color: #F4C613; */
    color: #fff;
    font-weight: 700;
    border-bottom: 3px solid #F4C613;
    padding-bottom: 5px;
    -webkit-transition: border-color 0.5s linear;
    transition: border-color 0.5s linear;
  }
  #services-tabs .tab-bg {
    text-align: center;
    padding: 40px 30px;
  }
  #services-tabs h2 {
    font-size: 40px;
  }
  #services-tabs h3 {
    font-size: 28px;
  }

  /* Portfolio */
  #isotope-filters button {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 6px;
    margin-right: 0.1rem;
    outline: none;
    border: none;
    /* text-align: center; */
  }
  #portfolio {
    padding-bottom: 0;
  }

  /* Testimonial Section */
  #testimonials {
    padding-top: 45px;
  }
  #testimonial-slider {
    top: 0;
  }
  #testimonials .vertical-heading {
    padding: 0;
  }
  .testimonial .row {
    margin: 0;
  }
  .testimonial h3 {
    font-size: 13px;
  }
  .testimonial .stars {
    font-size: 10px;
  }
  .author img {
    width: 80px !important;
  }

}